{% extends 'workflows/base.html' %}

{% load i18n %}
{% load humanize %}

{% block details %}

{% if assigned_wizards %}
<div class="card px2 col-12 mb-3">
    <div class="card-body text-center">
        {% include "framework/dashboard/widget-title.html" with title="Assigned Workflows" %}
        <table class="table">
            <tr><th scope="col">Name</th><th scope="col">Description</th><th scope="col">Completion</th><th scope="col"></th></tr>
            {% for w in assigned_wizards %}
            <tr>
                <th scope="row">
                    {{ w.wizard.name }}
                </th>
                <td>
                    {{ w.wizard.description }}
                </td>
                <td>
                    {{ w.count }}/{{ w.total }}
                </td>
                <td>
                    {% if w.wizard.permalink %}
                    <a href="{% url 'workflows:view_wizard' w.wizard.permalink %}" class="btn btn-primary">Begin</a>
                    {% else %}
                    <a href="{% url 'workflows:view_wizard_by_id' w.wizard.pk %}" class="btn btn-primary">Begin</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
<div class="card px2 col-12 mb-3">
    <div class="card-body text-center">
        {% include "framework/dashboard/widget-title.html" with title="Available Workflows" %}
        <table class="table">
            <tr><th scope="col">Name</th><th scope="col">Description</th><th scope="col">Completion</th><th scope="col"></th></tr>
            {% for w in wizards %}
            <tr>
                <th scope="row">
                    {{ w.wizard.name }}
                </th>
                <td>
                    {{ w.wizard.description }}
                </td>
                <td>
                    {{ w.count }}/{{ w.total }}
                </td>
                <td>
                    {% if w.completion%}
                        {% if w.wizard.permalink %}
                        <a href="{% url 'workflows:view_wizard' w.wizard.permalink '1' %}" class="btn btn-success">Complete</a>
                        {% else %}
                        <a href="{% url 'workflows:view_wizard_by_id' w.wizard.pk '1' %}" class="btn btn-success">Complete</a>
                        {% endif %}
                    {% else %}
                    {% if w.wizard.permalink %}
                    <a href="{% url 'workflows:view_wizard' w.wizard.permalink %}" class="btn btn-primary">Begin</a>
                    {% else %}
                    <a href="{% url 'workflows:view_wizard_by_id' w.wizard.pk %}" class="btn btn-primary">Begin</a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
