{% extends 'workflows/base.html' %}

{% load i18n %}
{% load humanize %}

{% block page_title %}
{{ wizard.name }}
{% endblock %}

{% block header_nav_brand %}
    Workflows
{% endblock header_nav_brand %}

{% block details %}

<div class="row">
    <h2>{{ wizard.name }}</h2>
</div>
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <div class="accordion accordion-flush" id="onboardingSteps">
                    {% for s in steps %}
                    {% if s.step.pk == current_step.step.pk %}
                    <div class="accordion_item">
                        <h2 class="accordion-header" id="h{{s.step.pk}}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#c{{s.step.pk}}" aria-expanded="true" aria-controls="c{{s.step.pk}}">
                                {% if s.complete %} <i class="fa-solid fa-check fa-fw align-self-center me-3"></i> {% else %} <i class="fa-solid fa-circle-xmark fa-fw align-self-center me-3"></i> {% endif %}
                                <div class="align-self-center me-3">{{s.step.name}}</div>
                            </button>
                        </h2>
                        <div id="c{{s.step.pk}}" class="accordion-collapse collapse show" aria-labelledby="h{{s.step.pk}}" data-bs-parent="#onboardingSteps">
                            <div class="accordion-body">
                                {{ s.step.description }}
                            </div>
                        </div>
                    </div>
                    {% elif s.visible %}
                    <div class="accordion_item">
                        <h2 class="accordion-header" id="h{{s.step.pk}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c{{s.step.pk}}" aria-expanded="false" aria-controls="c{{s.step.pk}}">
                                {% if s.complete %} <i class="fa-solid fa-check fa-fw align-self-center me-3"></i> {% else %} <i class="fa-solid fa-circle-xmark fa-fw align-self-center me-3"></i> {% endif %}
                                <div class="align-self-center me-3">{{s.step.name}}</div>
                            </button>
                        </h2>
                        <div id="c{{s.step.pk}}" class="accordion-collapse collapse" aria-labelledby="h{{s.step.pk}}" data-bs-parent="#onboardingSteps">
                            <div class="accordion-body">
                                {{ s.step.description }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width:{{ total_pct_complete | floatformat:0 }}%" aria-valuenow="{{ total_pct_complete | floatformat:0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title"><h4 class="ms-auto me-auto">{% if current_step %}{{ current_step.step.name }}{% else %}Complete!{% endif %}</h4></div>
            </div>

            <div class="card-body">
                <p class="card-text">{{ body_text | safe }}</p>
            </div>

            {% if current_step and current_step.step.is_selfguided %}
            <div class="card-footer">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="s" value="{{ current_step.step.pk }}" />
                        <input type="hidden" name="c" value="true" />
                        <input type="submit" value="Continue" class="btn btn-primary btn-lg" />
                    </form>
                </div>
            </div>
            {% elif current_step %}
            <div class="card-body">
                <div class="accordion" id="check-accordion">
                    <div class="accordion-item">
                            <h2 class="accordion-header" id="checksHeader">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChecks" aria-expanded="true" aria-controls="collapseChecks">
                                    Automated Checks
                                </button>
                            </h2>
                        </div>
                        <div id="collapseChecks" class="accordion-collapse collapse show" aria-labelledby="checksHeader" data-bs-parent="#check-accordion">
                            <div class="accordion-body">
                                <table class="table">
                                    <tr><th scope="col">Status</th><th scope="col">Name</th><th scope="col">Description</th></tr>
                                    {% for check in current_step.checks %}
                                    <tr>
                                        <td>
                                            {% if check.is_complete %}
                                            <button type="button" class="btn btn-success"><i class="fa-solid fa-check fa-fw"></i></button>
                                            {% else %}
                                            <button type="button" class="btn btn-danger"><i class="fa-solid fa-circle-xmark fa-fw"></i></button>
                                            {% endif %}
                                        </td>
                                        <th scope="row">
                                            {{ check.check.name }}
                                        </th>
                                        <td>
                                            {{ check.check.description }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Refresh" class="btn btn-primary btn-lg" />
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
    </div>
    <div class="col-3">
    </div>            
</div>

{% endblock %}

{% block extra_javascript %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}

{% endblock %}
